<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Smit 'em</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!-- <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> -->

  <link href="../static/css/style.css" rel="stylesheet">
  
</head>

<body class='main'>
  {% include "header.html" %}
    <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">

        <div style="color:white;" class="container text-center">
            <div>
                <h1>
                    About Us
                    <hr>
                </h1>
            </div>
          
          <p style="color:white ;">
            We're a startup e-commerce site that allows you to shop through a plethora of shops with the least hassle 
          </p>
  
          <div class="row stats-row">
            <div class="stats-col text-center col-md-3 col-sm-6">
              <div class="circle">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter stats-no"></span>
                Satisfied Customers
              </div>
            </div>
  
            <div class="stats-col text-center col-md-3 col-sm-6">
              <div class="circle">
                <span data-purecounter-start="0" data-purecounter-end="79" data-purecounter-duration="1" class="purecounter stats-no"></span>
                Proposed Warehouses
              </div>
            </div>
  
            <div class="stats-col text-center col-md-3 col-sm-6">
              <div class="circle">
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter stats-no"></span>
                Products Sold
              </div>
            </div>
  
            <div class="stats-col text-center col-md-3 col-sm-6">
              <div class="circle">
                <span data-purecounter-start="0" data-purecounter-end="68" data-purecounter-duration="1" class="purecounter stats-no"></span>
                Associated Shops
              </div>
            </div>
          </div>
        </div>
    </section><!-- End About Section -->

    <!-- ======= Team Section ======= -->
    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">
          Meet our Team
        </h2>

        <div class="row">
          <div class="col-sm-4 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="../static/img/team-1.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Ishika Agrawal</span> <span class="card-text">Member</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a> <a href="#"><i class="bi bi-envelope-fill"></i></a>
                  </nav>

                  
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="../static/img/team-2.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Adya Agarwal</span> <span class="card-text">Member</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a> <a href="#"><i class="bi bi-envelope-fill"></i></a>
                  </nav>

                  
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="../static/img/team-3.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Vaibhav Mehrotra</span> <span class="card-text">Member</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a> <a href="#"><i class="bi bi-envelope-fill"></i></a>
                  </nav>

                  
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Team Section -->


    
    </main>
    <br>
    {% include 'footer.html' %}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      
</body>
</html>