<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Smit 'em</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!-- <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> -->

  <link href="../static/css/style.css" rel="stylesheet">
  
</head>


<body class="main">
    {% include "header.html" %}
<br>
<!-- ======= Features Section ======= -->
<section class="features" id="features">
    
    <div class="container">
      <h1 style="color:rgb(224, 79, 0);" class="text-center">
        Features
      </h1>
      
      <hr>
      <br>


      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="back card card-block text-center">
            <div>
              <div class="feature-icon">
                <i class="bi bi-briefcase"></i>
              </div>
            </div>

            <div>
              <h3>
              ISO Certification
              </h3>

              <p>
                All of our products are quality verified and come with ISO Certification
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="back card card-block text-center">
            <div>
              <div class="feature-icon">
                <i class="bi bi-card-checklist"></i>
              </div>
            </div>

            <div>
              <h3>
                Quick Delivery
              </h3>

              <p>
                We deliver most products within a period of 5-7 business days 
              </p>
            </div>
          </div>
        </div>

        <div class=" feature-col col-lg-4 col-xs-12">
          <div class="back card card-block text-center">
            <div>
              <div class="feature-icon">
                <i class="bi bi-box-fill"></i>
              </div>
            </div>

            <div>
              <h3>
                Packaging
              </h3>

              <p>
                All the products are packaged accordingly so your items reach you in perfect condition.
              </p>
            </div>
          </div>
        </div>
      </div>
      
  </section><!-- End Features Section -->
    <br><br>
    {% include 'footer.html' %}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
</html>  
