!<!-- ======= Footer ======= -->
<footer  class="site-footer">
    <div  class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-start text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>Smith 'em</strong>. All Rights Reserved
            </p>
            
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="/about">About Us</a>
              </li>

              <li class="list-inline-item">
                <a href="/features">Features</a>
              </li>

              <li class="list-inline-item">
                <a href="#portfolio">Wall-Of-Fame</a>
              </li>

              

              <li class="list-inline-item">
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/js/projs.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/flickity/flickity.pkgd.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>
